.form {
  width: 90%;
  padding: 64px 96px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  align-items: flex-start;
  justify-content: space-between;
}
#btn__submit {
  width: 100%;
  background: #1570ef;
  color: white;
  height: 48px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  border-radius: 8px;
}
@media screen and (max-width: 750px) {
  .formcont {
    padding: 0px 5px;
  }
  .form {
    padding: 64px 50px;
  }
  .name {
    flex-direction: column;
    row-gap: 15px;
  }
  #firstname {
    width: 100%;
  }
  #secondname {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  #formcont {
    padding: 0px 0px;
  }
  .form {
    width: 95%;
    padding: 64px 5px;
  }
  #hi {
    font-size: 18px;
    line-height: 28px;
  }
}
