.form {
  width: 90%;
  padding: 64px 96px;
  /* margin-bottom: 60px; */
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
}
#btn__submit {
  width: 100%;
  background: #1570ef;
  color: white;
  height: 48px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  border-radius: 8px;
}
